@{
    ViewData["Title"] = ViewData["Subject"];
}
@{
    void ReadingRow(RegionBase region,
                   ForecastEmailModel.ModelGageData mgd,
                   DateTime timestamp,
                   double? waterHeight,
                   double discharge,
                   double? delta)
    {
        string style = "font-size:13px;";
        string waterText = "";
        string deltaText = "";
        if (discharge > mgd.WarningCfsLevel)
        {
            style += " font-weight:bold;";
        }
        if (waterHeight.HasValue)
        {
            waterText = String.Format("{0} ft", FzCommonUtility.GetRoundValue(waterHeight.Value));
        }
        if (delta.HasValue && delta.Value != 0)
        {
            deltaText = String.Format("{0}{1} cfs/hr",
                                      delta.Value > 0 ? "+" : "",
                                      FzCommonUtility.GetRoundValue(delta.Value));
        }
        <tr>
          <td width="15"    style="@style">@EmailHelpers.RenderDayOfWeek(region, timestamp)</td>
          <td width="130"   style="@style">@EmailHelpers.RenderTimestampNoDay(region, timestamp)</td>
          <td width="50"    style="@style">@waterText</td>
          <td width="90"    style="@style">@Math.Floor(discharge) cfs</td>
          <td align="right" style="@style">@deltaText</td>
        </tr>
    }
}
<div style="font-family: arial, sans-serif; width:100%">
<p><b>@Model.EmailTitle</b> - @Model.EmailSubtitle</p>

<div style="width:100%; font-family:Arial,sans-serif; font-size:13px; margin-top:10px;">
@foreach (ForecastEmailModel.ModelGageData mgd in Model.Model.GageForecasts) {
  <span style="font-weight:normal; font-size:16px; color:#CC6600;">@mgd.GageName</span><span style="font-size:12px"> - <a href="@EmailHelpers.GetForecastLink(Model.Model.Region)">View Forecast</a></span>
<!-- todo: link to individual details view in forecast when it's done -->

  @if (mgd.Readings != null && mgd.Readings.Count > 0) {
    SensorReading latestReading = mgd.Readings[0];
    <br />
    <div style="font-size:13px; color:green; margin-left:15px;">Latest Reading:</div>
    <table cellspacing="0" width="400" style="margin-left:20px;">
      @{ReadingRow(Model.Model.Region, mgd, latestReading.Timestamp, latestReading.WaterHeightFeet, latestReading.WaterDischarge.Value, mgd.PredictedCfsPerHour);}
    </table>
  }
  @if (mgd.GetRecentMax() != null) {
    SensorReading recentMax = mgd.GetRecentMax();
    <div style="font-size:13px; color:green; margin-left:15px;">Past 24hr max:</div>
    <table cellspacing="0" width="400" style="margin-left:20px;">
      @{ReadingRow(Model.Model.Region, mgd, recentMax.Timestamp, recentMax.WaterHeightFeet, recentMax.WaterDischarge.Value, null);}
    </table>
  }
 
  <span style="font-size:13px; color:green; margin-left:15px;">Forecasted crests:</span
  <span>(published @EmailHelpers.RenderTimestamp(Model.Model.Region, mgd.Forecast.Created))</span>
  <table cellspacing="0" width="400" style="margin-left:20px;">
    @foreach (NoaaForecastItem peak in mgd.Forecast.Peaks) {
      ReadingRow(Model.Model.Region, mgd, peak.Timestamp, peak.Stage, peak.Discharge.Value, null);
    }
  </table>
}
</div>
<div class="sig">
<div class="sig-line">-- </div>
<div class="sig-line">Floodzilla Gauge Network - <a href="https://floodzilla.com">https://floodzilla.com</a></div>
<div class="sig-line">We sent this email to @Model.Model.AspNetUser.Email: <a href="@Model.Model.GetUnsubscribeLink()">unsubscribe</a></div>
<div class="sig-line">Snoqualmie Valley Preservation Alliance (SVPA)</div>
<div class="sig-line">4621 Tolt Avenue, Carnation, WA 98014</div>
</div>
