@{
    ViewData["Title"] = ViewData["Subject"];
}

<style>
    body {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
</style>

  <h2>GAUGE OFFLINE: @Model.Location.PublicLocationId - @Model.Location.LocationName </h2>

  <br /><a href="@EmailHelpers.GetGageLink(Model.Region, Model.Location)">View Gauge</a> | <a href="@EmailHelpers.GetGageAdminLink(Model.Region, Model.Location)">View Gauge Admin</a>
  <br />
  Last Reading: @EmailHelpers.RenderTimestamp(Model.Region, Model.LastReading.Timestamp)<br />
