@model FloodzillaWeb.ViewModels.Account.RegisterViewModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Register";
    var Roles = (List<SelectListItem>)ViewBag.Roles;
    var OrgsList = (List<SelectListItem>)ViewBag.Orgs;
}

<h2>@ViewData["Title"].</h2>
<partial _showMessage />
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RoleName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="RoleName" asp-items="@Roles" class="form-control"></select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Organization:</label>
        <div class="col-md-10">
            <select asp-for="OrganizationsID" class="form-control" asp-items="@OrgsList"></select>
            <span id="orgValid"></span>
        </div>
    </div>
    @*<div class="form-group">
        <label asp-for="Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="g-recaptcha" data-sitekey="@ViewBag.GoogleCaptchaSiteKey"></div>
            <button type="submit" class="btn btn-default">Register</button>
            <a asp-action="Index" asp-controller="Users" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(function () {

            $("form").submit(function (e) {
                var role = $("#RoleName").val();
                if (role == "Admin" || role=="Guest") {
                    return true;
                }
                else {
                    var orgId = $("#OrganizationsID").val();
                    if (orgId != "" && orgId != undefined) {
                        return true;
                    }
                    else {
                        orgValid.innerHTML = "Please select organization".fontcolor("red");
                        return false;
                    }

                }
            });

        });
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
